documentos/diagramas/disclaimer_folders.png !text !filter !merge !diff
documentos/graficos/taxa_evasao_administracao.png !text !filter !merge !diff
documentos/graficos/taxa_evasao_medicina.png !text !filter !merge !diff
